@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family: 'Open sans', sans-serif;
}


#wrapper{ 
    height:100vh;
    width: 100vw;
    overflow-y:auto;
    overflow-x:hidden;

}
.container{
    width:100%;
    margin:1.0rem auto;
    position: relative;
}

.navbar{
    display:flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items:center;  
    padding-top: 0.3rem;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.logo-container{
    width:80px;
    padding: 0 1rem;
}
.nav-items{
    display:none;
    gap:2rem;
    padding:0 2rem;
    font-family: "inter" ,sans-serif;
    
}
.fa-angle-down{
    margin: 0 0.5rem;
}
.nav-items div{
    font-size:15px;
    font-weight:700;
    cursor: pointer;
    color: rgb(90, 88, 88);    
    font:bold
}
.sign-up{
    /* display: none; */
    display: flex;
}
.nav-button{
    display: none;
    background-color: blue;
    border-radius: 6px;
    width: 10rem;
    height:3rem;
    margin: 0 1rem;
    color: white;
    /* background-color: transparent; */
    font-size:large;
    font: bolder;
    border: none;
    padding: 0.9rem 1.8rem;
    /* margin: 0px solid blue; */
}
.three-dot {
    /* position: absolute;
    right:1.8rem;
    top:1rem; */

    width: 30px;
    height: 30px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0.5rem;
}
.three-dot .line{
    width: 80%;
    height: 3px;
    background-color: black;
}
.hero-section{
    padding:2rem 3rem;

}
.text-hero-section p{
    font-size:4.5rem;
    font-weight: 700;
    width: 100%;
    font-family: "Syne", sans-serif;
}
.image-hero-section{
    width: 100%;
    height: 100%;
    margin-top: 60px;
    padding: 1rem 1rem;
    object-fit: cover;
}
.image-hero-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-hero-section{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items:center; */
    padding: 1rem 3rem;
}
.footer-text{
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    color: #2C2C2C;
    margin: 2rem 1rem;
}
.footer-buttons{
    display:flex;
    gap: 2rem;
    flex-direction: column;
}
.footer-buttons .button-1{
    background-color: #3147FF;
    border-radius: 6px;
    width: 10rem;
    height:3rem;
}
.butn-1{
    color: white;
    background-color: transparent;
    font-size:large;
    font: bolder;
    border: none;
    padding: 0.9rem 1.8rem;
}
.footer-buttons .button-2{
    background-color: white;
    border-radius: 6px;
    width: 15rem;
    height:3rem;
}
.footer-buttons .button-2 .butn-2{
    color: black;
    background-color: transparent;
    font-size:large;
    font: bolder;
    border: 2px solid black;
    padding: 0.9rem 1.8rem;
}
.horizontal{
    width:95%;
    height:2px;
    background-color: #353333;
    margin:2rem auto;

}
.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    padding: 5rem auto;
    height: fit-content;
}
.heading-section-2{
    font-weight:600;
    font-size: 25px;
}
.section-2-blocks{
    background-color: #F8F8F8;
    margin:5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 70%;
    width: 80%;
}
.icn{
    color: blue;
    font-size: 45px;
}
.blocks{
    width: 70%;
    height:30%;
    background-color: white;
    border-radius: 0.5rem;
    margin: 1rem;
    font-weight: 600;
}
.blocks p{
    font-weight: 400;
}
.spans{
    color: black;
    font-size: larger;
    font-size: 90px;
}
.paras{
    font-size: large;
    font: bold;
}

.section-3{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: 100%;
    height: 1600px;
    padding: 30px 20px;
    margin: 40px 0;
    
}

.section-3-heading h1{
    color:white;
    max-width: 789px;
    font-size: 65px;
    font-weight: bolder;
    height: 75px;
    margin-bottom: 60px;
}
.section-3-block{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    border: 1px solid wheat;
    border-radius: 5px;
    padding:3px;
    margin-bottom: 20px;
}
.block-left{
    width: 90%;
    height: 60%;
    /* height: fit-content; */
    font-size: larger;
    font: bold;
}
.block-left-para{
    margin-top: 20px;
}
.block-right{
    /* padding-top: 5%; */
    width: 30%;
    height: 30%;
    margin-left: 20%;
    margin-top: 4%;
}
.block-right svg{
    width: 100%;
    height: 100%;
    display: none;
}
.section-4{
    width:100%;
    height: fit-content;
    padding:120px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% auto;

}
.section-4-left{
    /* width: 453px;
    height: 474px; */
    width: 80%;
    height: 100%;
    overflow: hidden;
    border-radius: 5%;
}
.section-4-left img{
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.section-4-right{
    width: 80%;
    height:60%;
    margin: 0 auto;
}
.section-elements{
    padding: 2%;
}
.section-4-right{
    display: flex;
    flex-direction: column;
}

.bottom{
    width: 90%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3% auto;
}
.section-heading{
    font-size: 30px;
    color: #000000;
    size: 10%;
    font: bold;
}
.section-para{
    color: #2C2C2C;
    font-size: larger;
    /* font-weight: bold; */
}
.section-button{
    width: 195px;
    height: 60px;
    background-color: #3147FF;
    margin: 5%;
    margin-left: 2%;
    border-radius: 4%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.section-button button{
    border: 0;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    border-radius: 5%;
}
.section-5-left{
    width: 80%;
    height: 47%;
    margin: 0 auto;
    padding: 2rem;
}
.section-5-list{
    width: 100%;
    /* height: 352px; */
    padding: 5% auto;
    margin: 5% auto;
    font: bold;
    font-size: larger;
}
.section-5-right{
    width: 80%;
    height: 45%;
    overflow: hidden;
    /* border-radius: 5%; */
    margin: 0 auto;

}
.section-5-right img{
    object-fit:cover;
    /* background-repeat: no-repeat; */
    border-radius: 5%;
    width: 100%;
    height: 100%;  
}

.section-5-footer{
    width: 100%;
    height:fit-content;
    margin: 30px auto;
}
.section-5-head{
    width: 80%;
    height: 10%;
    margin: 0 auto;
    margin-top: -10%;
    padding: 5%;
}
.section-5-heading{
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    
}
.section-5-line{
    height: 3px;
    width: 80%;
    background-color: #3147FF;
    margin: 0 auto;
}

.section-5-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height:20%;
    padding: 1%;
}
.section-5-footer-elements{
    display: flex;
    flex-direction: column;
    /* width: 380px;
    height: 186px; */
    width: 80%;
    height: 30%;
    margin: auto;
    /* justify-content:center; */
    /* align-items: center; */
}
.section-5-footer-elements-heading{
    font-size:25px;
    padding:1%; 
    /* font: bold; */
    /* line-height: 3%; */
    font-weight: bold;
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.section-5-footer-elements-para{
    padding: 1%;
    color: #2C2C2C;
    font-size: 20px;

}
.section-6{
    width: 100%;
    /* height: 1290px; */
    /* height: fit-content; */
    height: 470%;
    /* height: -content; */
    background-color: #000000;
    padding:120px 50px;
    
}
.section-6-head{
    width: 100%;
    height: 10%px;
    margin: 2rem auto;
    color: white;
    font-size: 50px;
    text-align: center;
    /* margin-bottom: 60px; */

}

.section-6-members{
    display: grid;
    /* flex-direction: column; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* grid-area: 1/1/3/4; */
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(1,1fr);
    grid-gap: 2%;
    /* place-content: center; */
    /* place-content: center; */
    /* justify-content: center; */
    justify-items: center;
    /* margin: 0 3px; */
    /* margin: 0 auto; */
    /* height: 100%; */
    /* height: 30%; */
}
.section-6-members-list{
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 417px; */
    /* height: 450px; */
    /* height: 33%; */
    /* padding: 20px; */
}
.section-6-members-lists{
    background-color: #2C2C2C;
    padding: 20px;
    margin:10px;
    border-radius: 10px;
    width: 60%;
    height: 100%;
}
.section-6-members-lists img{
    width: 100%;
    height: 80%;
    /* aspect-ratio: 1/1; */
    border-radius: 10px;
    object-fit: cover;
}
.section-6-members-lists-text{
    color: white;
}
.section-6-members-lists-text div:nth-child(1){
    font-size:1.5rem;
    margin: auto 0;
}
.section-6-members-lists-text div:nth-child(2){
    font-size:1rem;
    margin: auto 0;
}
.custom-flex{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.section-7{
    width: 100%;
    height: fit-content;
    padding: 120px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-7-head{
    width: 80%;
    height: 10%px;
    margin: 0 auto;
    margin-bottom:60px;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}
.section-7-elements{
    width: 100%;
    height: 20%;
    font-size: 40px;
    padding: 60px 0;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.section-7-gaps{
    width: 100%;
    height: 1px;
    background-color: #EAEDF0;
}
.section-7-elements{
    display: flex;
    justify-content: space-between;
}
.section-8{
    width: 100%;
    height:fit-content;
    background-color: #0000FF;
    padding: 120px 50px;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}
.section-8-left{
    width: 100%;
    height: 624px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section-8-left-elements{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    justify-content: space-around;
    align-items: start;
}
.section-8-left-elements h1{
    width: 70%;
    height: 10%;
    font-weight: 600;
    font-size: 40px;
    color: white;
    margin-bottom: 60px;
}
.section-8-left-elements p{
    width: 70%;
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-top: 4%;
}
.section-8-left-elements button{
    width: 226px;
    height: 60px;
    background-color: #0000FF;
    border: 3px solid white;
    color: white;
}
.section-8-right{
    padding:40px;
    width: 502px;
    height: 694px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
}
.section-8-right-elements{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-8-right-elements-brands{
    width: 80%;
    height: 102px;
    display: grid;
    grid-area: 1 1 3 4;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
}
/* .section-8-right-elements-brands img{
    height: 10px;
    width: 20px;
} */
.section-8-right-elements p{
    width: 80%;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
}
.section-8-form-elements-1{
    width: 422px;
    height: 101px;
    display: flex;
    flex-direction: column;
}
.section-8-form-elements-1 label{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.section-8-form-elements-1 input{
    width: 100%;
    height: 61px;
    padding: 15px 30px;
    border: 1px solid black;
}

.section-8-form-elements-2{
    width: 422px;
    height: 94px;
    display: flex;
    flex-direction: column;
}
.section-8-form-elements-2 label{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.section-8-form-elements-2 select{
    width: 100%;
    height: 61px;
    padding: 15px 30px;
    border: 1px solid black;
}
.section-8-form-elements-3{
    width: 422px;
    height: 160px;
    display: flex;
    flex-direction: column;
}
.section-8-form-elements-3 label{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.section-8-form-elements-3 input{
    width: 100%;
    height: 61px;
    padding: 15px 30px;
    border: 1px solid black;
}

.section-8-right button{
    width: 422px;
    height: 60px;
    background-color: #3147FF;
    color: white;
    border-radius: 3px;
    border: 2px solid #0000FF;
    padding: 16px 40px;
}
.footer{
    width:100%;
    /* height:515px; */
    display: flex;
    flex-direction: column;
}
.footer-top{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* align-self: start; */
    flex-wrap: wrap;
    gap: 20px;
    padding: 80px 50px;
    /* height: 405px; */
    height: fit-content;
    border-bottom: 1px solid rgb(225, 220, 220);
}
.footer-top-elements{
    width: 196px;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.footer-top-elements h3{
    width: 140px;
    height: 24px;
    /* margin-bottom: 20px; */
    font-size: larger;      
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2px;
    /* text-align: center; */
}
.footer-top-elements-li{
    width: 100%;
    height: 29px; 
    margin: 10px 0;
    color: rgb(17, 16, 16);
    font-size: large;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.footer-top-elements-ul{
    list-style-type: none;
    display: flex;      
    flex-direction: column; 
    justify-content: space-around;
}

.footer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 109px;
    padding:0 50px;
    margin:20px;
}
.footer-brands{
    display: flex;
    width: 70%;
    /* flex-wrap: wrap; */
}
.brand{
    width: 20%;
    height: 20%;
}
.brand i{
    width: 30px;
    height: 30px;
    padding: 8px;
    margin: 2px;
}
.footer-brand-elements h3{
    width: 140px;
    height: 24px;
    /* margin-bottom: 20px; */
    font-size: larger;      
    font-weight: bold;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    padding: 2px;
    /* text-align: center; */
}
.footer-brands{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    padding-top: 20px;
}


/* sm: applies the styles at 640px and up */
@media (min-width: 570px) {
    .navbar{
        
    }
    
    .text-hero-section{
        font-size: 1.5rem;
    }
    .section-3-block{
        flex-direction: column;
      
        height: 30%;
    
    }
    .block-right svg{
        width: 40%;
        height: 40%;
        display: none;
    } 
    .section-6{
        height: fit-content;
    }
    .section-6-members{
        display: grid;
        /* flex-direction: column; */
        /* align-items: center; */
        /* flex-wrap: wrap; */
        /* grid-area: 1/1/3/4; */
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2%;
        /* place-content: center; */
        /* justify-content: center; */
        /* justify-items: center; */
        /* margin: 0 3px; */
        /* margin: 0 auto; */
        /* height: 100%; */
        
        /* height: 30%; */
    }
    .section-6-members-lists{
        
        width: 90%;
        height: 100%;
    }
}

/* md: applies the styles at 768px and up */
@media (min-width: 768px) {
    .navbar{
        display: flex;
       flex-direction: row;
       
    }
    .nav-button{
        display: flex;
    }
    .text-hero-section{
        font-size: 1.5rem;
        width: 60%;
    }
    .footer-buttons{
        flex-direction: row;
    }
    .section-2-blocks{
       
        flex-direction: row;
        flex-wrap: wrap;
    }
    .blocks{
        width: 40%;
        height:30%;
    }
    .section-3-block{
        flex-direction: column;
      
        height: 20%;
    
    }
    .section-3{
        height: 150%;
    }
    .block-right svg{
        width: 50%;
        height: 50%;
        display: block;
    }
    .top{
        /* width: 100%; */
        /* height: 80%; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        /* align-items: center; */
        /* margin: 5% auto; */
    
    }
    .section-4-left{
        /* width: 453px;
        height: 474px; */
        width: 60%;
        height: 100%;
        overflow: hidden;
        border-radius: 5%;
    }
    .bottom{
        flex-direction: column;
    }
    .section-5-right{
        width: 60%;
    
    }
    .section-5-cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-self: start;
    }
    .section-5-footer-elements{
        width: 30%;
        height: 30%;
    }
    .section-6{
        /* height: 410%; */
        height: fit-content;
    }
    .section-6-members{
        /* flex-direction: row; */
        /* margin: 0 auto; */
        /* justify-content: center; */
        /* height: 80%; */
        /* flex-wrap: wrap; */
        /* height: 300%; */
    }
    .footer-bottom{
        flex-direction: row;
    }
    .section-6-members{
        display: grid;
        /* flex-direction: column; */
        /* align-items: center; */
        /* flex-wrap: wrap; */
        /* grid-area: 1/1/3/4; */
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(3,1fr);
        grid-gap: 2%;
        /* place-content: center; */
        /* justify-content: center; */
        /* justify-items: center; */
        /* margin: 0 3px; */
        /* margin: 0 auto; */
        /* height: 100%; */
        /* height: 30%; */
    }
    .section-6-members-lists{
       
        width: 100%;
        height: 100%;
    }
}

/* lg: applies the styles at 1024px and up */
@media (min-width: 1024px) {
    .navbar{
        display: flex;
        flex-direction: row;
    }
    .nav-items{
        display: flex;
    }
    .three-dot{
        display: none;
    }
    .nav-button{
        display: flex;
    }
    .text-hero-section{
        font-size:2rem;
        width: 75%;
    }
    .footer-buttons{
        flex-direction: row;
    }
    .blocks{
        width: 45%;
        height:30%;
    }
    .section-3-block{
        flex-direction: row;
      
        height: 20%;
        padding:10px;
    }
    .block-right svg{
        width: 70%;
        height: 60%;
    }
    .top{
        /* width: 100%; */
        /* height: 80%; */
        display: flex;
        flex-direction: row;
        /* justify-content: space-evenly; */
        /* align-items: center; */
        /* margin: 5% auto; */
    
    }
    .section-4-left{
        /* width: 453px;
        height: 474px; */
        width: 50%;
        height: 60%;
        overflow: hidden;
        border-radius: 5%;
    }
    .section-4-right{
        width: 40%;
        height:70%;
        
    }
    .bottom{
        flex-direction: row;
    }
    .section-5-left
    {
        width: 60%;
    }
    .section-5-right{
        width: 40%;
        height: 40%;
    
    }
   .section-8{
    flex-direction: row;
   }
}

/* xl: applies the styles at 1280px and up */
@media (min-width: 1280px) {
    .navbar{
        display: flex;
        flex-direction: row;
    }
    .nav-items{
        display: flex;
    }
    .three-dot{
        display: none;
    }
    .nav-button{
        display: flex;
    }
    .text-hero-section{
        font-size: 2.5rem;
        width: 55%;
    }
    .footer-hero-section{
        flex-direction: row;
        
    }
    .footer-buttons{
        flex-direction: column;
    }
    .blocks{
        width: 30%;
        height:30%;
    }
    .section-3-block{
        flex-direction: row;
      
        height: 20%;
    
    }
    .block-right svg{
        width: 100%;
        height: 100%;
    }
    .top{
        /* width: 100%; */
        /* height: 80%; */
        display: flex;
        flex-direction: row;
        /* justify-content: space-evenly; */
        /* align-items: center; */
        /* margin: 5% auto; */
    
    }
    .section-4-left{
        /* width: 453px;
        height: 474px; */
        width: 40%;
        height: 50%;
        overflow: hidden;
        border-radius: 5%;
    }
    .section-4-right{
        width: 40%;
        height:70%;
        
    }
    .bottom{
        flex-direction: row;
    }
    .section-5-left
    {
        width: 50%;
    }
    .section-5-right{
        width: 40%;
        height: 40%;
    
    }
    .section-6{
        /* height: 180%; */
    }
  
    .section-6-members{
        /* height: 10%; */
        /* justify-content: center; */
    }
   
}

/* 2xl: applies the styles at 1536px and up */
@media (min-width: 1536px) {
    .navbar{
        display: flex;
        flex-direction: row;
       
    }
    .three-dot{
        display: none;
    }
    .nav-items{
        display: flex;
    }
    .nav-button{
        display: flex;
    }
    .footer-hero-section{
        flex-direction: row;
        
    }
    .footer-buttons{
        flex-direction: column;
    }
    .blocks{
        width: 30%;
        height:30%;
    }
    .section-3-block{
        flex-direction: row;
      
        height: 20%;
    
    }
    .block-right svg{
        width: 100%;
        height: 100%;
    }
    .top{
        /* width: 100%; */
        /* height: 80%; */
        display: flex;
        flex-direction: row;
        /* justify-content: space-evenly; */
        /* align-items: center; */
        /* margin: 5% auto; */
    
    }
    .section-4-left{
        /* width: 453px;
        height: 474px; */
        width: 40%;
        height: 80%;
        overflow: hidden;
        border-radius: 5%;
    }
    .section-4-right{
        width: 35%;
        height:70%;
        
    }
    .bottom{
        flex-direction: row;
    }
    .section-5-left
    {
        width: 45%;
    }
    .section-5-right{
        width: 40%;
        height: 40%;
    
    }
    .section-6-members-list{
        /* height: 50%; */
    }
    .section-6-members{
        /* justify-content: center; */
    }
}